@model Customer
@{
    ViewData["Title"] = "Support";
}

<h1>Support</h1>

<h4>Please enter your information in the form below</h4>

<form asp-action="Support" method="post">

    <div class="container">

        <div class="row form-group">
            <label asp-for="FirstName" class="col-sm-3">First Name</label>
            <div class="col-sm-3">
                <input asp-for="FirstName" class="form-control" />
            </div>
            <span asp-validation-for="FirstName" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="LastName" class="col-sm-3">Last Name</label>
            <div class="col-sm-3">
                <input asp-for="LastName" class="form-control" />
            </div>
            <span asp-validation-for="LastName" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="StreetAddress" class="col-sm-3">Street Address</label>
            <div class="col-sm-3">
                <input asp-for="StreetAddress" class="form-control" />
            </div>
            <span asp-validation-for="StreetAddress" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="City" class="col-sm-3">City</label>
            <div class="col-sm-3">
                <input asp-for="City" class="form-control" />
            </div>
            <span asp-validation-for="City" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="State" class="col-sm-3">State</label>
            <div class="col-sm-3">
                <input asp-for="State" class="form-control" />
            </div>
            <span asp-validation-for="State" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="ZipCode" class="col-sm-3">Zip Code</label>
            <div class="col-sm-3">
                <input asp-for="ZipCode" class="form-control" />
            </div>
            <span asp-validation-for="ZipCode" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="PhoneNumber" class="col-sm-3">Phone Number</label>
            <div class="col-sm-3">
                <input asp-for="PhoneNumber" class="form-control" />
            </div>
            <span asp-validation-for="PhoneNumber" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <label asp-for="Email" class="col-sm-3">Email</label>
            <div class="col-sm-3">
                <input asp-for="Email" class="form-control" />
            </div>
            <span asp-validation-for="Email" class="col text-danger"></span>
        </div>
        <div class="row form-group">
            <div class="col-offset-sm-3">
                <button type="submit" class="btn-primary p-2 mr-2">Submit</button>
                <a asp-action="Support" class="btn btn-outline-secondary p-2">Clear</a>
            </div>
        </div>
    </div>
</form>